{{ 'section-cart.css' | asset_url | stylesheet_tag }}
{%- if template.name != 'cart' -%}
    {{ 'section-cart-collapse.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{{ 'component-checkbox.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{%- style -%}
#shopify-section-{{ section.id }}.cart-section {
    --space: 2rem;
    --counter-height: 50px;
    --cart-background: {{ section.settings.background }};
    --card-color: {{ section.settings.card_color }};
    --button-color: {{ section.settings.button_color }};
    --font-color: {{ section.settings.font_color }};
    --border-radius: {{ section.settings.border_radius }}px;
    --footer-background: {{ section.settings.footer_background }};
    --footer-font-color: {{ section.settings.footer_font_color }};
    --cart-button-background: {{ section.settings.cart_button_background }};
    --cart-button-color: {{ section.settings.cart_button_color }};
    --checkout-button-background: {{ section.settings.checkout_button_background }};
    --checkout-button-color: {{ section.settings.checkout_button_color }};
    --form-control-color: var(--footer-font-color);
    --footer-extra-background: {{ section.settings.footer_extra_background }};
    --footer-extra-color: {{ section.settings.footer_extra_color }};
}
{%- endstyle -%}

{%liquid
    assign totalDiscount = 0
    for item in cart.items
        if item.variant.compare_at_price
            assign totalDiscount = item.variant.compare_at_price | minus: item.price | times: item.quantity | plus: totalDiscount
        endif
    endfor
%}


{%- if template.name == 'cart' -%}
    <cart-section>
{%- else -%}
    <cart-section-collapse>
{%- endif -%}
    <div class="cart-header" data-section-id="{{ section.id }}" data-template="{{ template.name }}" >
      <div>
        <h2>
            {%- if section.settings.heading != blank -%}
                {{ section.settings.heading }}       
            {%- else -%}
                {{ "sections.cart.title" | t }}
            {%- endif -%}
        </h2>
        {%- if template.name == 'cart' -%}
            <a onclick="history.back()" style="cursor:pointer;">{{ 'general.continue_shopping' | t }}</a>
        {%- else -%}
            <button type="button">
                {% render 'icon-close' %}
            </button>
        {%- endif -%}
      </div>
    </div>
    <div class="cart-body {% if cart.items.size == 0 %}cart-body-empty {% endif %}{% if template.name == 'cart' %}page-width{%- endif -%}">
        {% if cart.items.size == 0 %}
          <p>{{ 'sections.cart.empty' | t }}</p>
          {% render 'icon-empty-box' %}
        {% else %}    
        {% for item in cart.items %}
                <div class="cart-product-raw" data-variant-id="{{ item.key }}" data-index="{{ forloop.index | minus: 1 }}">
                    <div class="cart-product-raw-img-box {% if item.quantity >= item.variant.inventory_quantity and item.variant.inventory_policy == 'deny' %}sold-out{% endif %}">
                        {% liquid
                            if item.product.has_only_default_variant and item.image != blank
                                echo item.image | image_url: height: 112 | image_tag: srcset: nil
                            elsif item.variant.image.src != blank
                                echo item.variant.image.src | image_url: width: 112 | image_tag: srcset: nil
                            endif 
                        %}
                        <span>{{ item.quantity }}</span>
                    </div>
                    <div class="cart-product-raw-title">
                        <div>
                            <h3>
                                <a href="{{ item.variant.url }}" >{{ item.title }}</a>
                            </h3>
                            {% unless item.product.has_only_default_variant %}
                                <p>{{ item.variant.title }}</p>
                            {% endunless %}
                        </div>
                        <button type="button" data-quantity="{{ item.quantity }}" data-role="delete" data-min-qty="0">
                            {% render 'icon-remove' %}
                        </button>
                    </div>
                    <div class="cart-product-raw-counter">
                        <button data-quantity="{{ item.quantity }}" data-min-qty="1" data-role="minus" {% if item.quantity == 1 %}disabled{% endif %}>{% render 'icon-minus' %}</button>
                        <button data-quantity="{{ item.quantity }}" data-max-qty="{{ item.variant.inventory_quantity }}" data-inventory-policy="{{ item.variant.inventory_policy }}" data-role="add" {% if item.quantity >= item.variant.inventory_quantity and item.variant.inventory_policy == 'deny' %}disabled{% endif %}>{% render 'icon-plus' %}</button>
                    </div>
                    <ul class="cart-product-raw-prices">
                        <li>
                            <p>
                                {{ 'sections.cart.vendor' | t }}:
                            </p>
                            <div>
                                <p>
                                    {{ item.vendor }}
                                </p>
                            </div>
                        </li>
                        <li>
                            <p>
                                {{ 'sections.cart.headings.price' | t }}:
                            </p>
                            <div>
                                {% render 'icon-loading' %}
                                <p class="price">
                                    {%- if section.settings.show_crossed_price and item.variant.compare_at_price != item.original_price and item.variant.compare_at_price > 0 -%}
                                        <s>{{ item.variant.compare_at_price | money }}</s>
                                    {%- endif -%}
                                    {{ item.original_price | money }}
                                </p>
                            </div>
                        </li>
                        <li>
                            <p>
                                {{ 'sections.cart.headings.total' | t }}:
                            </p>
                            <div>
                                {% render 'icon-loading' %}
                                {% assign original_price = item.variant.compare_at_price | times: item.quantity %}
                                <p class="price">
                                    {% if original_price != item.final_line_price and original_price > 0 and section.settings.show_crossed_price %}
                                        <s>{{ original_price | money }}</s>
                                    {% endif %}
                                    {{ item.final_line_price | money }}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="cart-footer ">
        <div class="cart-footer-wrapper {% if template.name == 'cart' %}page-width{%- endif -%}">
            <ul>
              {% if totalDiscount != 0 %}
                <li>
                    <p>{{ "sections.cart.economy" | t }} :</p>
                    <div>
                        {% render 'icon-loading' %}
                        <p class="cart-footer-price">{{ totalDiscount | money }}</p>
                    </div>
                </li>
              {% endif %}
                <li>
                    <p>{{ "sections.cart.subtotal" | t }} :</p>                  
                    <div>
                        {% render 'icon-loading' %}
                        <p class="cart-footer-price">
                            {% if section.settings.show_crossed_price and totalDiscount != 0 %}
                                <s>{{ cart.original_total_price | plus: totalDiscount | money }}</s>
                            {% endif %}
                            {{ cart.total_price | money }}  
                        </p>                      
                    </div>
                </li>
            </ul>
            {% if section.settings.cgv and section.settings.CGV_link != blank %}
                <label class="form-control">
                    <input type="checkbox" name="rgpd" />
                    <span class="rgpd">
                        {{ 'sections.cart.rgpd' | t }}
                        {{ 'CGV' | link_to: section.settings.CGV_link.url }}
                    </span>
                </label>                
            {% endif %}
            <div class="cart-footer-payment">
                <p class="cart-footer-payment-extra">{{ section.settings.footer_extra_text }}</p>
                {%- if template.name != 'cart' and section.settings.payment_buttons == 'show_both' or section.settings.payment_buttons == 'show_cart_button' -%}
                    <a class="cart-footer-payment-cart" href="/cart">
                        {% if section.settings.show_cart_logo %}
                            {% render 'icon-cart' %}
                        {% endif %}
                        {{ "sections.cart.cart" | t }}
                    </a>
                    {%- endif -%}
                    {%- if template.name == 'cart' or section.settings.payment_buttons == 'show_both' or section.settings.payment_buttons == 'show_checkout_button' -%}
                    <form action="{{ routes.cart_url }}" method="post">              
                        <button class="cart-footer-payment-checkout" type="submit" name="checkout" value="Checkout" data-nb-items="{{ cart.item_count }}">
                            {% render 'icon-loading' %}
                            {% if section.settings.show_checkout_logo %}
                                {% render 'icon-card-padlock' %}
                            {% endif %}
                            {{ 'sections.cart.checkout' | t }}
                        </button>
                    </form>
                {%- endif -%}
                <div class="cart-footer-payment-logo">
                    {%- liquid
                        if section.settings.show_cb
                            render 'icon-cb'
                        endif
                        if section.settings.show_amex
                            render 'icon-amex'
                        endif 
                        if section.settings.show_google
                            render 'icon-google'
                        endif 
                        if section.settings.show_apple
                            render 'icon-apple'
                        endif
                        if section.settings.show_mastercard
                            render 'icon-mastercard'
                        endif
                        if section.settings.show_visa
                            render 'icon-visa'
                        endif
                        if section.settings.show_paypal
                            render 'icon-paypal'
                        endif
                        if section.settings.show_amazone
                            render 'icon-amazone'
                        endif
                    -%}
                </div>
            </div>
        </div>
    </div>
{%- if template.name == 'cart' -%}
    </cart-section>
{%- else -%}
</cart-section-collapse>
{%- endif -%}


<script src="{{ 'section-cart.js' | asset_url }}" defer="defer"></script>
{%- if template.name != 'cart' -%}
    <script src="{{ 'section-cart-collapse.js' | asset_url }}" defer="defer"></script>
{%- endif -%}



{% schema %}
{
  "name": "Cart",
  "tag": "section",
  "class": "cart-section",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "color_background",
      "id": "footer_background",
      "label": "Background",
      "default": "linear-gradient(127deg, rgba(254, 91, 124, 1), rgba(99, 192, 254, 1) 35%, rgba(254, 206, 107, 1) 68%, rgba(255, 15, 15, 1) 100%)",
      "info": "Also applied to footer"
    },
    {
      "type": "color",
      "id": "footer_font_color",
      "label": "Font color",
      "default": "#000",
      "info": "Also applied to footer"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "info": "replace default title (optional)"
    },
    {
      "type": "header",
      "content": "Body"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Body Cards"
    },
    {
      "type": "color_background",
      "id": "card_color",
      "label": "Card color",
      "default": "linear-gradient(127deg, rgba(254, 91, 124, 1), rgba(99, 192, 254, 1) 35%, rgba(254, 206, 107, 1) 68%, rgba(255, 15, 15, 1) 100%)"
    },
    {
      "type": "color_background",
      "id": "button_color",
      "label": "Button color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "label": "Border radius",
      "default": 30
    },
    {
      "type": "checkbox",
      "id": "show_crossed_price",
      "label": "Show crossed out prices",
      "default": true
    },
    {
      "type": "header",
      "content": "Footer RGPD (optional)"
    },
    {
      "type": "checkbox",
      "id": "cgv",
      "label": "Show CGV",
      "default": true,
      "info": "Visible only if you select a page just below"
    },
    {
      "type": "page",
      "id": "CGV_link",
      "label": "Page to the CGV",
      "info": "Useful only if you have checked \"Show CGV\" just above"
    },
    {
      "type": "header",
      "content": "Footer additional text (optional)"
    },
    {
      "type": "text",
      "id": "footer_extra_text",
      "label": "Text above payment buttons"
    },
    {
      "type": "color_background",
      "id": "footer_extra_background",
      "label": "Additional text background",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "footer_extra_color",
      "label": "Additional text color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Footer payment buttons"
    },
    {
      "type": "select",
      "id": "payment_buttons",
      "label": "Show payment buttons",
      "options": [
        {
          "value": "show_both",
          "label": "Show both"
        },
        {
          "value": "show_cart_button",
          "label": "Show cart button"
        },
        {
          "value": "show_checkout_button",
          "label": "Show checkout button"
        }
      ],
      "default": "show_both",
      "info": "Option valid for all pages except the cart"
    },
    {
      "type": "color_background",
      "id": "cart_button_background",
      "label": "Cart button background",
      "default": "#000008"
    },
    {
      "type": "color",
      "id": "cart_button_color",
      "label": "Cart button font color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "show_cart_logo",
      "label": "Show cart logo",
      "default": true
    },
    {
      "type": "color_background",
      "id": "checkout_button_background",
      "label": "Checkout button background",
      "default": "#000008"
    },
    {
      "type": "color",
      "id": "checkout_button_color",
      "label": "Checkout button font color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "show_checkout_logo",
      "label": "Show checkout logo",
      "default": true
    },
    {
      "type": "header",
      "content": "Footer payment logo"
    },
    {
      "type": "checkbox",
      "id": "show_cb",
      "label": "Show cb",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_amex",
      "label": "Show american express",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_google",
      "label": "Show google pay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_apple",
      "label": "Show apple pay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_mastercard",
      "label": "Show mastercard",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_visa",
      "label": "Show visa",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_paypal",
      "label": "Show paypal",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_amazone",
      "label": "Show amazone pay",
      "default": false
    }
  ]
}
{% endschema %}
