{{ 'section-header-menu.css' | asset_url | stylesheet_tag }}

{%- style -%}
.header_menu_wrapper {
    --background: {{ section.settings.header_menu_background }};
    --font-color: {{ section.settings.header_menu_color }};
    --border-color: rgba({{ section.settings.header_menu_color.red }}, {{ section.settings.header_menu_color.green }}, {{ section.settings.header_menu_color.blue }}, {{ section.settings.header_menu_separator_opacity | times: 0.01 }});
    --padding-top: {{ section.settings.header_menu_padding_top }}px;
}
{%- endstyle -%}

<header-menu-section>
  <nav class="header_menu header_menu_hidden">
      <ul>
        {% for link in linklists.main-menu.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>

            {% if link.links.size > 0 %}
              <ul class="menu dropdown-child">
                {% for child_link in link.links %}
                  <li class="menu-link">
                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
      
                    {% if child_link.links.size > 0 %}
                      <ul class="menu dropdown-grandchild">
                        {% for grandchild_link in child_link.links %}
                          <li class="menu-link">
                            <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}</li>
        {% endfor %}
      </ul>
  </nav>
</header-menu-section>


<script src="{{ 'section-header-menu.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Menu",
  "tag": "div",
  "class": "header_menu_wrapper",
  "limit": 1,
  "settings": [
    {
      "type": "color_background",
      "id": "header_menu_background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "header_menu_color",
      "label": "Font color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "header_menu_separator_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Separator opacity",
      "default": 35
    },
    {
      "type": "range",
      "id": "header_menu_padding_top",
      "min": 70,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 100
    }
  ]
}
{% endschema %}