{{ 'library-glider.min.css' | asset_url | stylesheet_tag }}
{{ 'section-product-carousel.css' | asset_url | stylesheet_tag }}

<script src="{{ 'library-glider.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'section-product-carousel.js' | asset_url }}" defer="defer"></script>


{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-height: {{ section.settings.section_carousel_height }}vh;
    --main-image-size: {{ section.settings.carousel_main_image_size }};
    --main-image-position: {{ section.settings.carousel_main_image_position }}%;
    --background: {% if section.settings.carousel_image_fit == 'contain' %}{{ section.settings.carousel_background }}{% else %}transparent{% endif %};
    --arrow-size: {{ section.settings.carousel_arrows_size }}rem;
    --arrow-to-side: {{ section.settings.carousel_arrow_side_gap }}rem;
    --arrow-to-top: {{ section.settings.carousel_arrow_top_gap }}%;
    --arrow-color: {{ section.settings.carousel_arrows_color }};
    --dot-bottom: {{ section.settings.carousel_dots_position }}rem;
    --arrow-radius: {{ section.settings.carousel_arrow_radius }}rem;
    --dot-selected-color: {{ section.settings.carousel_selected_dot_color }};
    --dot-dots-color: {{ section.settings.carousel_dots_color }};
    --thumbnail-size: 0rem;
    --thumbnail-position: 0rem;
    --badge-bottom: 0rem;
    --badge-size: 0rem;
  }
{%- endstyle -%}

{%- liquid
  assign mediaListSorted = null | sort

  if product.has_only_default_variant
    assign first_media = product.featured_media | sort
  else
    assign first_media = product.selected_or_first_available_variant.featured_media | sort
  endif
  assign mediaListSorted = mediaListSorted | concat: first_media

  for media in product.media
    if media.id != first_media[0].id
      assign other_media = media | sort
      assign mediaListSorted = mediaListSorted | concat: other_media
    endif
  endfor
-%}

{% if mediaListSorted.size > 2 %}
  <product-main-carousel data-nb-medias="{{ mediaListSorted.size }}" >
{% endif %}
  <div id="main-caroussel" class="glider-contain product-carousel-main">
    <div class="glider">
      {%- for media in mediaListSorted -%}
        {%- if media.media_type == 'image' -%}
            <div class="glider-image-wrapper">
              {{ media | image_url: width: 750 | image_tag: class: section.settings.carousel_image_fit }}
            </div>
        {%- endif -%}
      {%- endfor -%}
    </div>

    {% if mediaListSorted.size > 2 %}
      <button aria-label="Previous" class="glider-prev {% if section.settings.carousel_arrows_show %}border{% endif %}">
        {% render 'icon-arrow' %}
      </button>
      <button aria-label="Next" class="glider-next {% if section.settings.carousel_arrows_show %}border{% endif %}">
        {% render 'icon-arrow' %}
      </button>
      <div role="tablist" class="glider-dots"></div>
    {% endif %}
  </div>
{% if mediaListSorted.size > 2 %}
  </product-main-carousel>
{% endif %}


{%- liquid
  for block in section.blocks
    case block.type
      when 'thumbnail'
        if mediaListSorted.size > 1
          render 'product-carousel-thumbnail', block: block, mediaList: mediaListSorted
        endif
      when 'badge'
        render 'product-carousel-badge', block: block
    endcase   
  endfor
-%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | image_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "Product carousel",
  "tag": "section",
  "class": "section-product-carousel",
  "max_blocks": 1,
  "limit": 1,
  "templates": [
    "product"
  ],
  "settings": [
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "range",
      "id": "section_carousel_height",
      "min": 40,
      "max": 80,
      "step": 5,
      "unit": "%",
      "label": "Section height",
      "default": 80,
      "info": "Relative to the screen"
    },
    {
      "type": "header",
      "content": "Main image"
    },
    {
      "type": "select",
      "id": "carousel_image_fit",
      "label": "Images fit",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contained"
        }
      ],
      "default": "cover"
    },
    {
      "type": "range",
      "id": "carousel_main_image_size",
      "min": 40,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Size",
      "default": 100,
      "info": "Only applied if image fit is contained (setting just above)"
    },
    {
      "type": "range",
      "id": "carousel_main_image_position",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Position",
      "default": 50
    },
    {
      "type": "color",
      "id": "carousel_background",
      "label": "Background",
      "default": "#fff",
      "info": "Only applied if image fit is contained"
    },
    {
      "type": "header",
      "content": "Arrows"
    },
    {
      "type": "paragraph",
      "content": "Not visible on mobile"
    },
    {
      "type": "range",
      "id": "carousel_arrows_size",
      "min": 5,
      "max": 9,
      "step": 1,
      "unit": "rem",
      "label": "Size",
      "default": 6
    },
    {
      "type": "range",
      "id": "carousel_arrow_side_gap",
      "min": 0,
      "max": 8,
      "step": 1,
      "unit": "rem",
      "label": "Distance from the sides",
      "default": 3
    },
    {
      "type": "range",
      "id": "carousel_arrow_top_gap",
      "min": 10,
      "max": 80,
      "step": 5,
      "unit": "%",
      "label": "Distance from the top",
      "default": 40
    },
    {
      "type": "color",
      "id": "carousel_arrows_color",
      "label": "Color",
      "default": "#121212"
    },
    {
      "type": "checkbox",
      "id": "carousel_arrows_show",
      "label": "Show border",
      "default": true
    },
    {
      "type": "range",
      "id": "carousel_arrow_radius",
      "min": 0,
      "max": 5,
      "step": 0.5,
      "unit": "rem",
      "label": "Corner radius",
      "default": 5,
      "info": "This value synchronizes with the corner radius of the thumbnails if they are present, in this case, this value is ignored"
    },
    {
      "type": "header",
      "content": "Dots"
    },
    {
      "type": "paragraph",
      "content": "Not visible when the \"Thumbnail\" block is added to this section, for a correct display either the dots or the thumbnails are displayed"
    },
    {
      "type": "range",
      "id": "carousel_dots_position",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "rem",
      "label": "Position from bottom",
      "default": 2
    },
    {
      "type": "color_background",
      "id": "carousel_selected_dot_color",
      "label": "Selected dot color",
      "default": "#121212"
    },
    {
      "type": "color_background",
      "id": "carousel_dots_color",
      "label": "Dots color",
      "default": "#ccc"
    }
  ],
  "blocks": [
    {
      "name": "Thumbnail",
      "type": "thumbnail",
      "settings": [
        {
          "type": "header",
          "content": "General style"
        },
        {
          "type": "range",
          "id": "carousel_thumbnail_radius",
          "min": 0,
          "max": 7,
          "step": 1,
          "unit": "rem",
          "label": "Border radius",
          "default": 7
        },
        {
          "type": "range",
          "id": "carousel_thumbnail_size",
          "min": 10,
          "max": 14,
          "step": 1,
          "unit": "rem",
          "label": "Size",
          "default": 10
        },
        {
          "type": "range",
          "id": "carousel_thumbnail_gap",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "rem",
          "label": "Gap",
          "default": 2
        },
        {
          "type": "range",
          "id": "carousel_thumbnail_position",
          "min": 1,
          "max": 15,
          "step": 1,
          "unit": "rem",
          "label": "Position from bottom",
          "default": 1
        },
        {
          "type": "header",
          "content": "Selected thumbnail"
        },
        {
          "type": "color_background",
          "id": "carousel_thumbnail_border_color",
          "label": "Border color",
          "default": "#121212",
          "info": "Apply to selected thumbnail"
        },
        {
          "type": "range",
          "id": "carousel_thumbnail_border_size",
          "min": 1,
          "max": 6,
          "step": 1,
          "label": "Border size",
          "default": 1
        },
        {
          "type": "checkbox",
          "id": "carousel_thumbnail_no_border",
          "label": "No border",
          "default": false
        }
      ]
    },
    {
      "name": "Badge",
      "type": "badge",
      "settings": [
        {
          "type": "header",
          "content": "General style"
        },
        {
          "type": "color_background",
          "id": "carousel_badge_background",
          "label": "Background",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "carousel_badge_size",
          "min": 6,
          "max": 9,
          "step": 1,
          "unit": "rem",
          "label": "Size",
          "default": 8,
          "info": "On mobile and if you have 4 badges, the maximum size is set at 7rem to ensure good display"
        },
        {
          "type": "range",
          "id": "carousel_badge_position",
          "min": 1,
          "max": 10,
          "step": 1,
          "unit": "rem",
          "label": "Position from bottom",
          "default": 2
        },
        {
          "type": "range",
          "id": "carousel_badge_radius",
          "min": 0,
          "max": 5,
          "step": 1,
          "unit": "rem",
          "label": "Border radius",
          "default": 2
        },
        {
          "type": "header",
          "content": "Style of logos"
        },
        {
          "type": "checkbox",
          "id": "carousel_badge_logo_default_color",
          "label": "Leave the default color",
          "default": true
        },
        {
          "type": "color",
          "id": "carousel_badge_logo_color",
          "label": "Color",
          "default": "#121212",
          "info": "If the default color is checked this color in not apply"
        },
        {
          "type": "header",
          "content": "Style of texts"
        },
        {
          "type": "color",
          "id": "carousel_badge_text_color",
          "label": "Color",
          "default": "#121212"
        },
        {
          "type": "header",
          "content": "Badge 1"
        },
        {
          "type": "html",
          "id": "carousel_badge_svg_1",
          "label": "Logo",
          "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" aria-hidden=\"true\" role=\"img\" class=\"iconify iconify--teenyicons\" width=\"32\" height=\"32\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 15 15\"><path fill=\"currentColor\" fill-rule=\"evenodd\" d=\"M7 4.5A4.5 4.5 0 0 1 11.5 0H15v3.5A4.5 4.5 0 0 1 10.5 8H8v7H7v-4H4.5A4.5 4.5 0 0 1 0 6.5V3h3.5c1.414 0 2.675.652 3.5 1.671V4.5Zm1.146 1.646l3-3l.708.708l-3 3l-.708-.708Zm-2 3.708l-3-3l.708-.708l3 3l-.708.708Z\" clip-rule=\"evenodd\"></path></svg>",
          "info": "Only svg is accepted"
        },
        {
          "type": "text",
          "id": "carousel_badge_text_1",
          "label": "Benefit",
          "default": "Vegan"
        },
        {
          "type": "header",
          "content": "Badge 2"
        },
        {
          "type": "paragraph",
          "content": "Leave the fields empty to not display this badge"
        },
        {
          "type": "html",
          "id": "carousel_badge_svg_2",
          "label": "Logo",
          "info": "Only svg is accepted"
        },
        {
          "type": "text",
          "id": "carousel_badge_text_2",
          "label": "Benefit",
          "default": "Benefit 2"
        },
        {
          "type": "header",
          "content": "Badge 3"
        },
        {
          "type": "paragraph",
          "content": "Leave the fields empty to not display this badge"
        },
        {
          "type": "html",
          "id": "carousel_badge_svg_3",
          "label": "Logo",
          "info": "Only svg is accepted"
        },
        {
          "type": "text",
          "id": "carousel_badge_text_3",
          "label": "Benefit",
          "default": "Benefit 3"
        },
        {
          "type": "header",
          "content": "Badge 4"
        },
        {
          "type": "paragraph",
          "content": "Leave the fields empty to not display this badge"
        },
        {
          "type": "html",
          "id": "carousel_badge_svg_4",
          "label": "Logo",
          "info": "Only svg is accepted"
        },
        {
          "type": "text",
          "id": "carousel_badge_text_4",
          "label": "Benefit"
        }
      ]
    }
  ]
}
{% endschema %}
